/* transform: perspective(36px) rotateX(3deg) scale(1, 0.5) translateZ(0px) */

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    --menu-inner-circle-radius: 92.5vh;
    --menu-outer-circle-radius: 112.5vh;
    --menu-inner-circle-right: 15vw;
    --menu-outer-circle-right: calc(var(--menu-inner-circle-right) - (var(--menu-outer-circle-radius) - var(--menu-inner-circle-radius)));
    --menu-item-diameter: calc((var(--menu-inner-circle-right) - var(--menu-outer-circle-right)) / 2);
    --menu-item-offset: calc(var(--menu-inner-circle-radius) + var(--menu-item-diameter) / 2);
}

body {
    background-color: #1a1e34;
    position: relative;
    /* height: 7000px;   */
    /* overflow: hidden;   */
    color: rgba(255, 255, 255, .75);
    overflow-x: hidden;
}

canvas {
    display: block;    
}

#pixel-map {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%) perspective(36px) rotateX(6deg) scale(.6, .25);
    /* transform: translate(-50%, 20%) perspective(36px) rotateX(3deg) scale(1, .4); */
}
@media (min-width: 1400px) {
    #pixel-map {
        /* transform: translate(-50%, 25%) perspective(36px) rotateX(6deg) scale(.6, .25); */
        /* transform: translate(-50%, 20%) perspective(36px) rotateX(3deg) scale(1, .4); */
        /* transform: translate(-50%, 25%) perspective(36px) rotateX(3deg) scale(.8, .3); */
        transform: translate(-50%, 25%) perspective(36px) rotateX(6deg) scale(.7, .25);
    }
}

/* g[role="menuitem"]:nth-child(666) > path {
    animation: pulse 3000ms ease infinite;
}

@keyframes pulse {
    0% {
        fill: #29294D;
    }
    50% {
        fill: #29294D;
    } 
    51% {
        fill: #46336f;
    }
    100% {
        fill: #46336f;
    }
} */

a {
    text-decoration: none;
}

.font-regular {
    font-family: 'Open Sans Regular';
}
.font-bold {
    font-family: 'Open Sans Bold';
}
.font-bolder {
    font-family: 'Open Sans ExtraBold';
}

.max-vw-10 {
    max-width: 10vw;
}

.max-vmax-30 {
    max-width: 30vmax;
}

.ms-n8vw {
    margin-left: -8vw;
}

@media (min-width: 1200px) {
    .max-vw-xl-20 {
        max-width: 20vw;
    }
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.scale-70 {
    transform: scale(0.7);
    transform-origin: left;
}

.fs-4vmin {
    font-size: 4vmin;
}
@media (min-width: 768px) {
    .fs-md-3vmin {
        font-size: 3vmin;
    }
    
    .fs-md-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }
}
@media (min-width: 992px) {
    .fs-lg-1vmin {
        font-size: 1vmin;
    }

    .fs-lg-2vmin {
        font-size: 2.5vmin;
    }

    .fs-lg-5 {
        font-size: 1.25rem !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .h-xl-50 {
        height: 50% !important;
    }

    .h-xl-75 {
        height: 75% !important;
    }
    .h-xl-80 {
        height: 80% !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-auto {
        height: auto !important;
    }    
}


#scroll-spy-menu {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;    
    top: 0;
    /* bottom: 0; */
    right: 0;
    left: 0;
    z-index: 10;
    /* transform: rotateZ(0); */
    /* transform-origin: calc((var(--menu-inner-circle-radius) + var(--menu-inner-circle-right)) * (-1)); *//*for width = 0*/
    transform-origin: calc(100vw - var(--menu-inner-circle-right) - var(--menu-inner-circle-radius));
    pointer-events: none;
    opacity: 0;
}

/* #scroll-spy-menu::before { */
#inner-circle {    
    /* content: ''; */
    position: absolute;    
    align-self: center;    
    right: var(--menu-inner-circle-right);
    width: calc(var(--menu-inner-circle-radius) * 2);
    height: calc(var(--menu-inner-circle-radius) * 2);
    border: 3px solid #7d7f8c;
    border-radius: 50%;  
    clip-path: polygon(50% 0px, 100% 0px, 100% 100%, 50% 100%);  
}

/* #scroll-spy-menu::after { */
#outer-circle { 
    /* content: ''; */
    position: absolute;
    align-self: center;    
    right: var(--menu-outer-circle-right);
    width: calc(var(--menu-outer-circle-radius) * 2);
    height: calc(var(--menu-outer-circle-radius) * 2);
    border: 3px solid #7d7f8c;
    border-radius: 50%;
    /* clip-path: polygon(80% 0px, 105% 0px, 105% 100%, 70% 100%);      */
}

#outer-circle > span.scale-line {   
    position: absolute; 
    width: 50px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: #7d7f8c;
    background-color: white;    
}
#outer-circle > span:nth-of-type(1) {    
    /* transform: rotateZ(-24deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(-24deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(2) {    
    /* transform: rotateZ(-16deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(-16deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(3) {    
    /* transform: rotateZ(-8deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(-8.25deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(4) {    
    /* transform: rotateZ(0deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(-.5deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(5) {    
    /* transform: rotateZ(8deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(7.5deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(6) {    
    /* transform: rotateZ(16deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(15deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span:nth-of-type(7) {    
    /* transform: rotateZ(24deg) translateX(calc(var(--menu-outer-circle-radius) - 25px)); */
    transform: rotateZ(23deg) translateX(calc(var(--menu-outer-circle-radius) - 25px));
}
#outer-circle > span.small-scale-line {
    position: absolute; 
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: #7d7f8c;
    background-color: white;  
}
#outer-circle > span:nth-of-type(8) {    
    transform: rotateZ(-20deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}
#outer-circle > span:nth-of-type(9) {
    transform: rotateZ(-12.125deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}
#outer-circle > span:nth-of-type(10) {    
    transform: rotateZ(-4.375deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}
#outer-circle > span:nth-of-type(11) {    
    transform: rotateZ(3.5deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}
#outer-circle > span:nth-of-type(12) {    
    transform: rotateZ(11.25deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}
#outer-circle > span:nth-of-type(13) {    
    transform: rotateZ(19deg) translateX(calc(var(--menu-outer-circle-radius) - 10px));
}

.circle-menu-item {
    position: absolute;
    /* border: 2px solid #7d7f8c; */
    border-radius: 50%;
    color: yellow;
    /* width: 100px;
    height: 100px; */
    width: 11vh;
    height: 11vh;
    width: var(--menu-item-diameter);
    height: var(--menu-item-diameter);
    /* width: 5vw;
    height: 5vw; */
    display: flex;
    /* align-self: center;
    justify-self: center; */
    justify-content: center;
    align-items: center; 
    transform: rotateZ(-24deg);       
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1; 
    pointer-events: auto; 
    top: 50%;
    left: 50%;  
    margin-top: -5.5vh;
    transition: transform 500ms ease-out;
    /* will-change: transform; */
}

.circle-menu-item > .inactive-img {
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

/* .circle-menu-item::after { */
.circle-menu-item > .active-img {
    /* content: ''; */
    position: absolute;
    z-index: 1;
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* transition: clip-path 500ms ease-in-out;     */
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    will-change: clip-path;
}

/* .circle-menu-item:not(.active-in)::after { */
.circle-menu-item > .active-img:not(.active-in) {
    clip-path: circle(0 at 0 50%);
    /* clip-path: circle(0 at 50% 50%); */
    /* clip-path: inset(0 0 100% 0); */
    /* clip-path: inset(0 100% 0 0); */
}

/* .circle-menu-item.active-in::after { */
.circle-menu-item > .active-img.active-in {
    /* clip-path: circle(100% at 50% 50%);
    clip-path: inset(0 0 0 0); */
    animation-name: in-circle-right;
}

/* .circle-menu-item.active-out::after { */
.circle-menu-item > .active-img.active-out {
    /* clip-path: circle(0 at 100% 50%);
    clip-path: inset(0 0 0 0); */
    animation-name: out-circle-right;
}

.circle-menu-item > .active-img.active {
    clip-path: circle(100% at 50% 50%);
}

@keyframes in-circle-right {
    0% {
        clip-path: circle(0 at 0 50%);
        /* clip-path: inset(0 0 100% 0); */
        /* clip-path: circle(0 at 50% 50%); */
    }
    100% {
        clip-path: circle(100% at 50% 50%);
        /* clip-path: inset(0 0 0 0); */
        /* clip-path: circle(100% at 50% 50%); */
    }
}
@keyframes out-circle-right {
    0% {
        /* clip-path: inset(0 0 0 0); */
        clip-path: circle(100% at 50% 50%);
        /* clip-path: circle(100% at 50% 50%); */
    }
    100% {
        clip-path: circle(0 at 100% 50%);
        /* clip-path: inset(100% 0 0 0); */
        /* clip-path: circle(0 at 50% 50%); */
    }
}

.circle-menu-item:nth-of-type(1) {    
    transform: rotateZ(-24deg) translate(var(--menu-item-offset)) rotateZ(24deg);
    animation: slide-out1 1000ms ease;
}
.circle-menu-item:nth-of-type(1).active {
    transform: rotateZ(-24deg) translate(var(--menu-item-offset)) rotateZ(24deg) scale(1.2);
    /* animation-name: grow; */
}
.circle-menu-item:nth-of-type(1) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-41.png'); 
}
.circle-menu-item:nth-of-type(1) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-48.png');
}
@keyframes slide-out1 {
    0% {
        transform: rotateZ(-24deg) translate(0) rotateZ(24deg);
    }
    100% {
        transform: rotateZ(-24deg) translate(var(--menu-item-offset)) rotateZ(24deg);
    }
}


.circle-menu-item:nth-of-type(2) {
    transform: rotateZ(-16deg) translate(var(--menu-item-offset)) rotateZ(16deg);
    animation: slide-out2 1000ms ease;
}
.circle-menu-item:nth-of-type(2).active {
    transform: rotateZ(-16deg) translate(var(--menu-item-offset)) rotateZ(16deg) scale(1.2);
}
.circle-menu-item:nth-of-type(2) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-42.png'); 
}
.circle-menu-item:nth-of-type(2) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-49.png');
}
@keyframes slide-out2 {
    0% {
        transform: rotateZ(-16deg) translate(0) rotateZ(16deg);
    }
    100% {
        transform: rotateZ(-16deg) translate(var(--menu-item-offset)) rotateZ(16deg);
    }
}

.circle-menu-item:nth-of-type(3) {
    transform: rotateZ(-8deg) translate(var(--menu-item-offset)) rotateZ(8deg);
    animation: slide-out3 1000ms ease;
}
.circle-menu-item:nth-of-type(3).active {
    transform: rotateZ(-8deg) translate(var(--menu-item-offset)) rotateZ(8deg) scale(1.2);
}
.circle-menu-item:nth-of-type(3) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-43.png'); 
}
.circle-menu-item:nth-of-type(3) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-50.png');
}
@keyframes slide-out3 {
    0% {
        transform: rotateZ(-8deg) translate(0) rotateZ(8deg);
    }
    100% {
        transform: rotateZ(-8deg) translate(var(--menu-item-offset)) rotateZ(8deg);
    }
}

.circle-menu-item:nth-of-type(4) {        
    transform: rotateZ(0deg) translate(var(--menu-item-offset)) rotateZ(0deg);
    animation: slide-out4 1000ms ease;
}
.circle-menu-item:nth-of-type(4).active {
    transform: rotateZ(0deg) translate(var(--menu-item-offset)) rotateZ(0deg) scale(1.2);
}
.circle-menu-item:nth-of-type(4) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-44.png'); 
}
.circle-menu-item:nth-of-type(4) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-51.png');
}
@keyframes slide-out4 {
    0% {
        transform: rotateZ(0deg) translate(0) rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg) translate(var(--menu-item-offset)) rotateZ(0deg);
    }
}

.circle-menu-item:nth-of-type(5) {
    transform: rotateZ(8deg) translate(var(--menu-item-offset)) rotateZ(-8deg);
    animation: slide-out5 1000ms ease;
}
.circle-menu-item:nth-of-type(5).active {
    transform: rotateZ(8deg) translate(var(--menu-item-offset)) rotateZ(-8deg) scale(1.2);
}
.circle-menu-item:nth-of-type(5) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-45.png'); 
}
.circle-menu-item:nth-of-type(5) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-52.png');
}
@keyframes slide-out5 {
    0% {
        transform: rotateZ(8deg) translate(0) rotateZ(-8deg);
    }
    100% {
        transform: rotateZ(8deg) translate(var(--menu-item-offset)) rotateZ(-8deg);
    }
}

.circle-menu-item:nth-of-type(6) {
    transform: rotate(16deg) translate(var(--menu-item-offset)) rotate(-16deg);
    animation: slide-out6 1000ms ease;
}
.circle-menu-item:nth-of-type(6).active {
    transform: rotateZ(16deg) translate(var(--menu-item-offset)) rotateZ(-16deg) scale(1.2);
}
.circle-menu-item:nth-of-type(6) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-46.png'); 
}
.circle-menu-item:nth-of-type(6) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-53.png');
}
@keyframes slide-out6 {
    0% {
        transform: rotateZ(16deg) translate(0) rotateZ(-16deg);
    }
    100% {
        transform: rotateZ(16deg) translate(var(--menu-item-offset)) rotateZ(-16deg);
    }
}

.circle-menu-item:nth-of-type(7) {
    transform: rotateZ(24deg) translate(var(--menu-item-offset)) rotateZ(-24deg);
    animation: slide-out7 1000ms ease;
}
.circle-menu-item:nth-of-type(7).active {
    transform: rotateZ(24deg) translate(var(--menu-item-offset)) rotateZ(-24deg) scale(1.2);
}
.circle-menu-item:nth-of-type(7) > .inactive-img {
    background-image: url('../images/MenuIcons/COMBIWAY-47.png'); 
}
.circle-menu-item:nth-of-type(7) > .active-img {
    background-image: url('../images/MenuIcons/COMBIWAY-54.png');
}
@keyframes slide-out7 {
    0% {
        transform: rotateZ(24deg) translate(0) rotateZ(-24deg);
    }
    100% {
        transform: rotateZ(24deg) translate(var(--menu-item-offset)) rotateZ(-24deg);
    }
}



#token {
    position: absolute;
    background-image: url('../images/COMBIWAY-17\ 5.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 30vmax;
    height: 38vmax;   */
    width: 55vh;
    height: 60vh;
    /* top: 25rem; */
    left: 50%;
    transform: translateX(-50%);
    
    top: 14vh;
    /* bottom: -97vh; */
    /* transform: translateX(-50%) scale(0.3); */
    /* background-position: -2vmax -7vmax; */
    background-position: 0 -10vh;
    transform-origin: top;
}

#background-wrapper {
    position: absolute;    
    z-index: -10;
    width: 100%;
}

/* #first-background {
    height: 100vh;
    background-image: url('../images/COMBIWAY-11.png')
    ,url('../images/COMBIWAY-10.png');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position-y: center, bottom;       
} */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;

    /* background-color: #b61924; */
    /* background-image: url(""); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: 50% 50%; */
}


#second-background {
    position: absolute;
    top: 1500px;
    left: 200px;
    width: 732px;
    height: 455px;
    background-image: url('../images/COMBIWAY-34.png');
    background-repeat: no-repeat;
    /* background-size: 80%; */

    top: 155vh;
    left: -10vw;
    width: 60vw;
    height: 60vh;
}

#fourth-background {
    position: absolute;
    top: 300vh;
    /* left: 200px; */
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-image4.png');
    background-repeat: no-repeat;
    background-size: 95%;   
    /* background-position-x: -7vw;  */
}

section {
    position: relative;
    /* border: 1px solid red; */
}

section:nth-of-type(1) {
    background-image: url('../images/COMBIWAY-17\ 5.png'),
    url('../images/COMBIWAY-11.png'),
    url('../images/COMBIWAY-10.png');
    background-repeat: no-repeat;
    background-size: 70%, cover, 90%;
    background-position-x: right, 0, right;
    background-position-y: 70%, center, 90%;
    position: relative;
    /* z-index: -10; */
}
@media (min-width: 1200px) {
    section:nth-of-type(1) {
        background: unset;
    }
}

.token {
    /* position: absolute;  */
    background-image: url('../images/COMBIWAY-17\ 5.png');
    background-size: contain;
    /* width: 36vmax; */
    /* height: 18vmax; */
    height: 18vh;
    /* top: 25rem; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* z-index: -1; */
    background-repeat: no-repeat;
    background-position-x: center;
}
@media (min-width: 1200px) {
    section:nth-of-type(2) .token {
        background: none;
    }
} 

.logo {
    background-image: url('../images/Лого.png');
    /* background-position-x: -4vw; */
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 295px;
    height: 115px; */

    
}

.main-logo {
    width: 18vmax;
    height: 13vh;
    /* background-position-x: 50%; */
    position: relative;
    left: -5vmax;
}

.secondary-logo {
    height: 13vh; 
    background-size: 75%;
    background-position: center;
}
@media (min-width: 992px) {
    .secondary-logo {
        background-size: contain;
    }
}
@media (min-width: 1200px) {
    .secondary-logo {
        background-size: 200%;
    }
}

.bus {
    background-image: url('../images/COMBIWAY-22\ 2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 18vh;
}
@media (min-width: 1200px) {
    .bus {
        background: none;
        position: relative;
    }

    #money-wrapper {
        order: 5;
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        /* height: 25rem; */
        justify-content: flex-end;
        margin-left: -2rem;
    }

    #money-description {
        order: 4;
        margin-top: 20rem;
        /* height: 75%; */
        vertical-align: text-bottom;
        display: flex;
        align-items: flex-end;
        padding-bottom: 2rem;
    }
}

button {
    border: 4px solid #A16EFF;
    box-shadow: 0px 4px 15px 0px #A16EFF7D;
    background-color: transparent;
    width: 12em;
    font-size: 0.7em;
    position: relative;
}
button::after {
    content: 'купить Tickets';
    color: #1a1e34;
    position: absolute;
    padding-top: .5rem;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    /* clip-path: circle(0 at 0 0); */
    clip-path: inset(0 0 100% 0);
    background-color: #A16EFF;
    transition: 500ms ease-in-out;
}
button:hover::after {
    /* clip-path: circle(150% at 0 0); */
    clip-path: inset(0 0 0 0);
}

li {
    filter: brightness(90%);
}
li::marker {
    color: #7d7f8c;
}

/* section:nth-of-type(2) > div.container { */
/* #bg-container { */
@media (min-width: 1200px) {
    section:nth-of-type(2) {
        background-image: 
        /* url('../images/COMBIWAY-331.png'), */
        /* url('../images/COMBIWAY-33.png'), */
        url('../images/Polygon\ 3.png'),
        url('../images/Polygon\ 2.png');    
        background-repeat: no-repeat; 
        /* width: 100%; */
        /* height: 100%; */
        /* background-size: 30%, 30%, 30%, 40%; */
        /* 1200px */
        /* background-size: 10%, 32%, 35%, 33%; */
        /* background-size: 9vw, 30vw, 30vw, 30vw; */
        /* background-position: 51% 56%,
        bottom 10% left 10%,
        52% center,
        center;     */
        background-position:
        /* 50% 56%, */
        /* bottom 20% right 85%, */
        52% center,
        center;        
    }

    #dollar-img {
        position: absolute;
        left: 50%;
        top: 56%;
        transform: translate(-50%, -56%);
        width: 170px;
        height: 170px;
        background-image: url('../images/COMBIWAY-331.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 3px;
        animation: rotate-translated 6000ms linear infinite;
    }

    @keyframes rotate-translated {
        100% {
            transform: translate(-50%, -56%) rotateZ(360deg);
        }
    }

    #dollar-img > div {
        position: absolute;                     
        width: 100%;
        height: 100%;
        background-image: url('../images/COMBIWAY-331.png');
        background-color: #1a1e34;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: circle(25% at 50% 50%);        
        z-index: 10;
        background-position-x: 3px;
        animation: rotate-circle 6000ms linear reverse infinite;
    }

    @keyframes rotate-circle {
        100% {
            transform: rotateZ(360deg);
        }
    }

    #bus {    
        position: absolute;
        width: 205px;
        height: 176px;
        z-index: 1;
        background-image: url('../images/COMBIWAY-32\ 1.png');
        background-repeat: no-repeat;  
        background-size: cover;  
        left: 6vw;
        top: 34vw;
        opacity: 0;
        animation: runBus 10000ms ease-in-out 1000ms infinite;
        
        width: 12vw;
        height: 19vh;
        background-size: contain;
        top: 70%;
        left: 9%;
    }

    @keyframes runBus {  
        0% {
            left: 9%;
            top: 73%;
            opacity: 0;
        }
        40% {
            left: 9%;
            top: 73%;
            opacity: 0;
        }
        50% {
            left: 43%;        
            top: 40%;
            opacity: 1;
        }
        65% {
            left: 43%;
            top: 40%;
            opacity: 1;
        }
        80% {
            left: 70%;
            top: 14%;
            opacity: 0;
        }
        100% {
            left: 70%;
            top: 14%;
            opacity: 0;
        }
    }

    section:nth-of-type(2) #bus-bg {
        background-image: url('../images/COMBIWAY-33.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 110%;
        transform-origin: bottom;    
        transform: scale(.7);
    }
} 
@media (min-width: 1400px) {
    section:nth-of-type(2) #bus-bg {
        transform: none;
    }

    #bus {    
        position: absolute;
        width: 205px;
        height: 176px;
        z-index: 1;
        background-image: url('../images/COMBIWAY-32\ 1.png');
        background-repeat: no-repeat;  
        background-size: cover;  
        left: 6vw;
        top: 34vw;
        opacity: 0;
        animation: runBus 10000ms ease-in-out 1000ms infinite;
        
        width: 12vw;
        height: 19vh;
        background-size: contain;
        top: 70%;
        left: 9%;
    }

    @keyframes runBus {  
        0% {
            left: -6%;
            top: 57%;
            opacity: 0;
        }
        40% {
            left: -6%;
            top: 57%;
            opacity: 0;
        }
        50% {
            left: 36%;        
            top: 20%;
            opacity: 1;
        }
        65% {
            left: 36%;
            top: 20%;
            opacity: 1;
        }
        80% {
            left: 70%;
            top: -10%;
            opacity: 0;
        }
        100% {
            left: 70%;
            top: -10%;
            opacity: 0;
        }
    }
}




.bus-on-the-way {
    left: 6vw;
    top: 34vw;
    opacity: 0;
}

.arriving-bus {
    left: 18vw;
    top: 27vw;
    opacity: 1;
    transition: left 1000ms 1000ms ease-out,
    top 1000ms 1000ms ease-out,
    opacity 1000ms 1000ms ease-out;
}

.departing-bus {
    left: 27vw;
    top: 21vw;
    opacity: 0;
    transition: left 1000ms 1000ms ease-in,
    top 1000ms 1000ms ease-in,
    opacity 1000ms 1000ms ease-in;
}

#money-wrapper {
    position: relative;
}
/* #money-wrapper {
    position: absolute;
    width: 400px;
    height: 273px;    
    top: 27vw;
    left: 34vw;

    top: 56vh;
    width: 25vw; 
    height: 32vh;   
    left: 50%;    
    padding-right: 4vw;
} */

#money {
    position: absolute;
    width: 223px;
    height: 232px;
    background-image: url('../images/money_038\ 3.png');
    background-repeat: no-repeat;
    top: 4vw;
    left: 10vw;

    width: 12vw;
    height: 13vw;
    background-size: cover;
}

.bg-money {
    background-image: url('../images/money_038\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    width: 100%;
    height: 100%;
}

.description {
    font-size: .8em;
    /* position: absolute; */
}
@media (min-width: 1200px) {
    .description {
        font-size: .65em;     
    }   
}

#people {
    width: 70px;
    height: 100px;
    position: absolute;
    /* background-image: url('../images/Group.png');
    background-repeat: no-repeat; */
    top: 7vw;
    left: 40%;
    opacity: 0;
    /* display: none; */
}

#people > span:nth-child(2) {
    margin-left: 23%;
    /* background-color: red; */
}

.human-icon {
    width: 28px;
    height: 28px;
    background-image: url('../images/Group.png');
    background-repeat: no-repeat;
    display: flex;
}

#token-info {
    position: absolute;
    left: 57%;
    top: 13vw;
    opacity: 0;
}

#plus {
    position: absolute;
    cursor: pointer;
    top: -1vh;
    right: 0;    
}

.popup {
    position: absolute;
    top: -20rem;
    left: -20rem; 
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    opacity: 0;
    /* transform: translateX(-65%) scale(0.5); */
    transform: scale(0.5);
    transform-origin: bottom right;
    transition: opacity 350ms ease,
                transform 350ms ease;
}

#plus:hover .popup {
    opacity: 1;
    /* transform: translateX(0) scale(1); */
    transform: scale(1);
}

#plus-body {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* position: relative; */
    position: absolute;
    /* top: 50%; */
    left: 100%;
    /* transform: translate(0%, -100%); */
    /* left: 100%;
    top: 15%; */
    border-width: 2px;
    border-style: solid;
    /* background: linear-gradient(red, blue); */
    border-color:#44B1ED;
}

#plus-body > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;    
}

#plus-body > span:first-child {
    width: 1rem;
    height: .25rem;
    /* top: 19%;     */
}

#plus-body > span:last-child {
    width: .25rem;
    height: 1rem;
    /* left: 19%; */
}

.wave {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 100%;
    top: 50%;
    border-radius: 50%;    
    -webkit-transform: translate(30%, 30%);
    -ms-transform: translate(30%, 30%);
    transform: translate(30%, 30%);
    opacity: 0.3;
}

.expanding-circle {
    opacity: 0;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    /* border: solid 2px #5E69DC; */
    border: solid 2px #44B1ED;
    -webkit-animation: waves infinite ease-in-out 9s;
    animation: waves infinite ease-in-out 9s;
    width: 4rem;
    height: 4rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.expanding-circle:nth-child(2) {
    animation-delay: 3000ms;
}

.expanding-circle:nth-child(3) {
    animation-delay: 6000ms;
}

.expanding-circle:nth-child(4) {
    animation-delay: 4500ms;
}

.expanding-circle:nth-child(5) {
    animation-delay: 6000ms;
}

@keyframes waves {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5);
        transform: translate(-50%, -50%) scale(0.5, 0.5);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 0;
    }
}

section:nth-of-type(3) {
    background-image: url('../images/COMBIWAY-17\ 5.png'),
    url('../images/COMBIWAY-23\ 1.png');
    background-repeat: no-repeat;
    background-size: 12vmax, 20vmax;
    background-position: 70% 70%, 90% bottom;
}

@media (min-width: 768px) {
    section:nth-of-type(3) {
        background-image: url('../images/COMBIWAY-17\ 5.png'),
        url('../images/COMBIWAY-23\ 1.png');
        background-repeat: no-repeat;
        background-size: 15vmax, 30vmax;
        background-position: 55% 55%, 90% bottom;
    }
}
@media (min-width: 1200px) {
    section:nth-of-type(3) {
        background-image: url('../images/COMBIWAY-23\ 1.png');
        background-position: right 35% top 83%;
        background-size: auto;        
    }
}

section:nth-of-type(4) {
    background-image: url('../images/COMBIWAY-26.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
@media (min-width: 768px) {
    section:nth-of-type(4) {
        background-image: url('../images/bg-image4.png');
        background-repeat: no-repeat;
        background-position: 62% -100%;
    }
}
@media (min-width: 992px) {
    section:nth-of-type(4) { 
        background-position: center;
        background-size: contain;
    }
}


section:nth-of-type(5) {
    /* cursor: progress; */
    /* background-color: #44B1ED; */
    background:
    linear-gradient(#1a1e34 45%, #7c1dc9 60%, #2bf4fe 75%, transparent 75%), 
    linear-gradient(to bottom left, #2bf4fe 50%, #7c1dc9);    
    overflow: hidden;
}
@media (min-width: 1200px) {
    section:nth-of-type(5) {
        /* cursor: progress; */
        /* background-color: #44B1ED; */
        background: 
        linear-gradient(#1a1e34, #7c1dc9 30%, #2bf4fe 50%, transparent 50%),
        linear-gradient(to bottom left, #2bf4fe 50%, #7c1dc9);
        overflow: hidden;
    }
}

#fifth-section-content {
    position: absolute;
    top: -17%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

section:nth-of-type(5) > .token {
    position: absolute;
    top: 55%;
    right: 0;
    width: 36vmax;
}

#river-wrapper {
    position: relative;
    height: 50vh;
    width: 100%;
    /* margin-left: 60px; */
    /* border: 1px solid blue; */
    perspective: 257px;
    perspective-origin: 68% 21%;
    display: none;
}

#river {
    /* padding: 50px; */
    width: 60px;
    height: 105%;
    bottom: 39%;
    left: 54.5%;
    position: absolute;
    /* border: 1px solid black; */
    background-color: red;
    background: rgba(100,100,100,0.5); 
    transform-style: preserve-3d;
    transform: rotateX(60deg);
    background: linear-gradient(#2bf4fe 70%, #7c1dc9);
}

#river > .long-scale-line {
    position: relative;
    width: 30px;
    height: 1px;    
    left: 100%;        
}

.long-scale-line:nth-child(1) {
    top: 31%;
    background-color: #35d8f7; 
}

.long-scale-line:nth-child(2) {
    top: 61%;
    background-color: #35d8f7; 
}

.long-scale-line:nth-child(3) {
    top: 78%;
    background-color: #49a3ea; 
}

.long-scale-line:nth-child(4) {
    top: 88%;
    background-color: #5d6edd; 
}

.long-scale-line:nth-child(5) {
    top: 95%;
    background-color: #713bd1; 
}

#river-wrapper > .year:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 62%;
    font-size: 1em;
}

#river-wrapper > .year:nth-of-type(3) {
    position: absolute;
    top: 5%;
    left: 58.5%;
    font-size: 2em;
}

#river-wrapper > .year:nth-of-type(4) {
    position: absolute;
    top: 14%;
    left: 53.5%;
    font-size: 3em;
}

#river-wrapper > .year:nth-of-type(5) {
    position: absolute;
    top: 27%;
    left: 47%;
    font-size: 4em;
}

#river-wrapper > .year:nth-of-type(6) {
    position: absolute;
    top: 50%;
    left: 38%;
    font-size: 5em;
}

#land > .year:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 62%;
    font-size: 1em;
}

#land > .year:nth-of-type(3) {
    position: absolute;
    top: 5%;
    left: 58.5%;
    font-size: 2em;
}

#land > .year:nth-of-type(4) {
    position: absolute;
    top: 14%;
    left: 53.5%;
    font-size: 3em;
}

#land > .year:nth-of-type(5) {
    position: absolute;
    top: 27%;
    left: 47%;
    font-size: 4em;
}

#land > .year:nth-of-type(6) {
    position: absolute;
    top: 50%;
    left: 38%;
    font-size: 5em;
}

#left-mountain {
    background-color: #1b1f36;
    border-bottom: 1px solid #2b6c87;
    height: 15vw;
    clip-path: polygon(0px 0px, 100% 100%, 0px 100%);
    position: absolute;
    background: linear-gradient(#2b3555, #1a1e35);
    /* width: 67%; */
    width: calc(64% + 10px);
    bottom: 25%;
}
@media (min-width: 992px) {
    #left-mountain {
        width: calc(60% + 10px);
    }
}
@media (min-width: 1200px) {
    #left-mountain {
        background-color: #1b1f36;
        border-bottom: 1px solid #2b6c87;
        height: 15vw;
        clip-path: polygon(0px 0px, 100% 100%, 0px 100%);
        position: absolute;
        bottom: 50%;
        background: linear-gradient(#2b3555, #1a1e35);
    }
}

#land {
    font-size: .3em;
    position: absolute; 
    bottom: 0;   
    /* clip-path: polygon(0px 0px, calc(60% + 10px) 0px, 0px 80%, 
                        0px 100%, 5% 100%,
                        25% 70%,
                        62% 0px, 
                        100% 0px, 100% 100%, 0px 100%); */
    clip-path: polygon(0px 0px, calc(60% + 10px) 0px, 0px 80%,
                       0px 100%, 5% 100%,
                       24% 66.5%, 34.25% 66.5%, 35% 65%, 25% 65%,
                       37% 44%, 44% 44%, 44.5% 43%, 37.5% 43%,
                       46.75% 27%, 52% 27%, 52.25% 26.5%, 47% 26.5%,
                       53.75% 15%, 57.5% 15%, 57.75% 14.5%, 54% 14.5%,
                       59.25% 5%, 61.5% 5%, 61.75% 4.5%, 59.5% 4.5%,
                       62% 0px, 100% 0px, 100% 100%, 0px 100%);
    background:
    linear-gradient(to top, #1a1e35 20%, #2b3555);
    /* background: radial-gradient(ellipse farthest-side at 50% 50%, #2b3555, #1a1e35); */

    width: 160%;
    height: 25%;
    transform: translateX(-20%);
}
@media (min-width: 992px) {
    #land {
        /* font-size: 1em; */
        width: 100%;       
        transform: none;
    }
}
@media (min-width: 1200px) {
    #land {
        font-size: .8em;
        position: absolute;
        height: 50%;
        bottom: 0;
        width: 100%;    
        /* clip-path: polygon(0px 0px, calc(60% + 10px) 0px, 0px 80%, 
                            0px 100%, 5% 100%,
                            25% 70%,
                            62% 0px, 
                            100% 0px, 100% 100%, 0px 100%); */
        background: linear-gradient(to top, #1a1e35 20%, #2b3555);
        transform: none;
    }
}

#front-mountains {
    position: absolute;
    /* border: 1px solid red; */
    left: 10vw;
    bottom: -22%;
    width: 54%;
    height: 150%;
    background-color: #1a1e35;
    clip-path: polygon(50% 0px, 100% 0px, 100% 100%, 
    0px 100%, 0px 61%, 50% 58%);
    transform-origin: bottom left;
    transform: rotateZ(38deg);
    background: linear-gradient(322deg, #1a1e35 50%, #2b3555);
}
@media (min-width: 768px) {
    #front-mountains {
        left: 25vw;
    }
}
@media (min-width: 992px) {
    #front-mountains {
        left: unset;
        right: 5%;
        clip-path: polygon(25% 0px, 100% 0px, 100% 100%, 
        0px 100%, 0px 61%, 25% 58%);
    }
}
@media (min-width: 1200px) {
    #front-mountains {
        position: absolute;
        /* border: 1px solid red; */
        left: 48%;
        bottom: 0;
        width: 45%;
        height: 150%;
        background-color: #1a1e35;
        clip-path: polygon(25% 0px, 100% 0px, 100% 100%, 
        0px 100%, 0px 61%, 25% 55%);
        transform-origin: bottom left;
        transform: rotateZ(38deg);
        background: linear-gradient(322deg, #1a1e35 50%, #2b3555);
    }
}

@media (min-width: 1200px) {
    #first-front-mountain {
        position: absolute;
        width: 25%;
        height: 6%;
        bottom: 39%;
        /* background-color: blue; */
        /* border: 1px solid red; */
        background: linear-gradient(#1a1e35, #2b3555);
    }
}
#first-front-mountain {
    position: absolute;
    /* width: 50%; */
    height: 3%;
    bottom: 39%;
    /* background-color: blue; */
    /* border: 1px solid red; */
    background: linear-gradient(#1a1e35, #2b3555);
}
/* @media (min-width: 992px) {
    #first-front-mountain {
        width: 25%;
    }
} */

@media (min-width: 1200px) {
    section:nth-of-type(6) {
        background-image: url('../images/COMBIWAY-27.png');
        background-repeat: no-repeat;
        /* background-size: cover; */    
    }
}
section:nth-of-type(6) {
    background-image: url('../images/COMBIWAY-27.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 125%;
    background-position: center 90%;
}

@media (min-width: 1200px) {
    section:nth-of-type(7) {
        background-image: url('../images/smartphoneOnTheWorld.png');
        background-repeat: no-repeat;
        background-position: bottom;        
    }
}
section:nth-of-type(7) {
    background-image: url('../images/smartphoneOnTheWorld.png');
    background-repeat: no-repeat;
    background-position: bottom;    
    background-size: 160%;
    background-position: 70% 70%
}
@media (min-width: 992px) {
    section:nth-of-type(7) {
       background-size: cover;
    }        
}
@media (min-width: 1400px) {
    section:nth-of-type(7) {
       background-size: contain;
    }        
}


.comment {
    position: absolute;    
    /* border-radius: 10px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border-bottom-right-radius: 10px; */
    border-bottom-left-radius: 5px;
    background-color: #94969e;
    /* #94969e7d half-opacity */
    padding-right: 1rem;
    padding-left: 3rem;
}
.comment::before {
    content: '';
    position: absolute;    
    left: 10%; 
    background-image: url('../images/Group.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px; 
    top: 50%;
    transform: translateY(-50%);   
}

.comment::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #94969e;
    right: 0;
    bottom: 0;
    transform: rotateZ(315deg);
    transform-origin: right bottom;
    clip-path: polygon(0px 0px, 100% 100%, 0px 100%);
}

section:nth-of-type(7) > div.comment:nth-of-type(3),
section:nth-of-type(7) > div.comment:nth-of-type(3)::after,
section:nth-of-type(7) > div.comment:nth-of-type(4),
section:nth-of-type(7) > div.comment:nth-of-type(4)::after {
    background-color: rgba(148, 150, 158, .5);
}

section:nth-of-type(7) > div.comment:nth-of-type(2) {
    top: 57%;
    left: 3%;
}

section:nth-of-type(7) > div.comment:nth-of-type(3) {
    top: 52%;
    left: 16%;    
}

section:nth-of-type(7) > div.comment:nth-of-type(4) {
    top: 47%;
    left: 30%;
}
@media (min-width: 992px) {
    .comment {
        position: absolute;    
        /* border-radius: 10px; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        /* border-bottom-right-radius: 10px; */
        border-bottom-left-radius: 10px;
        background-color: #94969e;
        /* #94969e7d half-opacity */
        padding-right: 5em;
        padding-left: 5em;        
    }
    .comment::before {
        content: '';
        position: absolute;    
        left: 10%; 
        background-image: url('../images/Group.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;    
    }

    .comment::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #94969e;
        right: 0;
        bottom: 0;
        transform: rotateZ(315deg);
        transform-origin: right bottom;
        clip-path: polygon(0px 0px, 100% 100%, 0px 100%);
    }

    section:nth-of-type(7) > div.comment:nth-of-type(2) {
        top: 50%;        
        right: 50%;
        left: unset;
    }
    
    section:nth-of-type(7) > div.comment:nth-of-type(3) {
        top: 40%; 
        right: 40%; 
        left: unset;  
    }
    
    section:nth-of-type(7) > div.comment:nth-of-type(4) {
        top: 30%;
        right: 30%;
        left: unset;
    }
}

section:last-of-type {
    background-image: url('../images/lastBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}